body {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
body {
  margin: 50px;
}
h1,
h2,
h3 {
  font-weight: lighter;
}
.grid-container {
  background-color: #ffffff;
  filter: drop-shadow(5px 5px 7px #dddddd);
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 800px;
  padding: 20px;
}
.masthead {
  grid-column: span 2;
  order: 0;
}
.intro {
  grid-column: span 2;
}
.left-column {
}
.right-column {
  margin-left: 20px;
  background-color: #f9f9f9;
  padding: 10px;
}
.right-column-header {
  margin-top: 40px;
}
.employer {
  color: #666;
  font-style: italic;
}
#visitor-count {
  color: #666;
  font-style: italic;
}
.resume-footer {
  grid-column: span 2;
  margin-top: 40px;
  text-align: left;
  color: #666;
  font-size: 0.8em;
  padding-bottom: 10px;
}
.resume-footer a {
  color: #2f3c82;
  text-decoration: underline;
}
.resume-footer a:hover {
  text-decoration: underline;
}
